<!DOCTYPE html>
<html ng-app>
<head>
	<title>To-Do List</title>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="http://code.angularjs.org/angular-1.0.0rc3.min.js"></script>
	<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="js/todo.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div ng-controller="TodoCtrl" class="app-container">
		<header>
			<h1>To-Do List ({{getTotalTodos()}})</h1>
			<div class="type-bar">
				<a>
					<form class="form-horizontal">
						<input type="text" ng-model="formTodoText" ng-model-instant placeholder="type">
						<button class="btn" ng-click="addTodo()"><i class="glyphicon glyphicon-plus"></i> Add</button>
					</form>
				</a>
				<a>
					<button class="btn btn-large"	ng-click="clearCompleted()"><i class="glyphicon glyphicon-trash"></i> Clear Completed</button>
				</a>
			</div>
		</header>
		<div class="todo-container">
			<ul class="unstyled">
				<li ng-repeat="todo in todos">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{ todo.done }}" ng-click="editTodo()">{{ todo.text }}</span>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>